---
import { Image } from "astro:assets";
import ImageOfMe from "../images/me.jpg";
// import { Icon } from 'astro-icon/components';
import Layout from "../layouts/Layout.astro";
// let allPosts = await Astro.glob('./blog/**/index.mdx');
// allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
// let recentPosts = allPosts.slice(0, 3);
let socialMedia = [
  {
    url: "https://github.com/Nicell",
    icon: "fa6-brands:github",
    name: "GitHub",
  },
  {
    url: "https://twitter.com/WinansNick",
    icon: "fa6-brands:twitter",
    name: "Twitter",
  },
  {
    url: "https://www.linkedin.com/in/nick-winans/",
    icon: "fa6-brands:linkedin",
    name: "LinkedIn",
  },
  {
    url: "https://discord.com/users/132232584632598528",
    icon: "fa6-brands:discord",
    name: "Discord",
  },
  {
    url: "mailto:nick@winans.io",
    icon: "fluent:mail-24-filled",
    name: "Email",
  },
];
---

<Layout
  title="Mike Constantino"
  description="Hi! I'm Mike - software engineer based in Orlando, FL currently doing cool things for DigitalOcean."
>
  <section class={`card flex-grow flex flex-row `}>
    <div class="flex flex-row items-center justify-between gap-9 p-6">
      <div>
        <h1
          class="inline-block bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 bg-clip-text font-display text-6xl font-semibold text-transparent"
        >
          Mike Constantino
        </h1>
        <h2 class="pt-1 text-4xl font-normal">
          software engineer coding for <a href="#">kicks</a> and <a href="#"
            >cash</a
          >
        </h2>
        <p class="pt-4 text-lg">
          I'm currently making waves at DigitalOcean 🌊, teaming up with the
          Identity Access Management crew to help make the cloud simple and
          accessible 🤙
        </p>
      </div>
      <div class="flex flex-shrink-0 flex-col justify-center">
        <Image
          alt="Picture of me"
          class="max-w-xs rounded-full"
          src={ImageOfMe}
        />
        <!-- <div class="flex justify-start mt-4 items-center"> -->
        <!-- {socialMedia.map(sm => ( -->
        <!-- <a href={sm.url} target="_blank" class="xl:mr-4 mr-3 xl:p-4 md:p-3 p-2 rounded-full bg-base-100/50 hover:bg-base-200/75 hover:scale-105 active:bg-base-300 active:scale-95 transition-all backdrop-blur-md" title={sm.name}> -->
        <!-- <Icon name={sm.icon} class="xl:max-w-[2em] xl:h-8 md:max-w-[1.75em] md:h-7 max-w-[1.5em] w-full h-6"/> -->
        <!-- </a> -->
        <!-- ))} -->
        <!-- </div> -->
      </div>
      <!-- <div class="flex flex-shrink-0 flex-col justify-end"> -->
      <!--   <Picture -->
      <!--     formats={["avif", "webp", "png"]} -->
      <!--     alt="Picture of me" -->
      <!--     class="aspect-[3/4.04] w-0 sm:w-[200px] md:w-[300px]" -->
      <!--     widths={[600, 300]} -->
      <!--     loading="eager" -->
      <!--     sizes="(max-width: 640px) 0px, (max-width: 768px) 200px, 300px" -->
      <!--     src={import("../images/me.png")} -->
      <!--   /> -->
      <!-- </div> -->
    </div>
    <!-- <section class="flex-none p-3 lg:ml-2 lg:w-80"> -->
    <!-- 	<h2 class="font-display font-bold text-2xl mb-2">Articles</h2> -->
    <!-- 	<div class="lg:grid-cols-1 grid sm:grid-cols-3 gap-4 mb-2 grid-cols-1"> -->
    <!-- 		{recentPosts.map(post => ( -->
    <!-- 			<a rel="prefetch" href={post.url} class="group"> -->
    <!-- 				<h3 class="text-lg font-medium leading-5 mb-1 group-hover:underline dark:text-blue-200">{post.frontmatter.title}</h3> -->
    <!-- 				<p class="opacity-85 font-light leading-5 mb-1">{post.frontmatter.description}</p> -->
    <!-- 				<div class="flex flex-wrap opacity-80 items-center"> -->
    <!-- 					<p class="text-sm font-normal leading-5">{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"})}</p> -->
    <!-- 					<span class="divider divider-horizontal mx-0"/> -->
    <!-- 					<span class="badge badge-sm badge-outline">{post.frontmatter.minutesRead} min read</span> -->
    <!-- 				</div> -->
    <!-- 			</a> -->
    <!-- 		))} -->
    <!-- 	</div> -->
    <!-- 	<a rel="prefetch" href="/blog" class="text-blue-600 dark:text-blue-400 hover:underline">See all articles →</a> -->
    <!-- </section> -->
  </section>
</Layout>
