---
import { Image, Picture } from "astro:assets";
import ImageOfMe from "../images/me.jpg";
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Work from "../components/Work.astro";

let allPosts = await getCollection("posts");
allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
let recentPosts = allPosts.slice(0, 3);
let socialMedia = [
  {
    url: "https://github.com/mikebcbc",
    icon: "fa6-brands:github",
    name: "GitHub",
  },
  {
    url: "https://www.linkedin.com/in/mikeconstantino1/",
    icon: "fa6-brands:linkedin",
    name: "LinkedIn",
  },
  {
    url: "mailto:mike@constantino.dev",
    icon: "fluent:mail-24-filled",
    name: "Email",
  },
];
---

<Layout
  title="Mike Constantino"
  description="Hi! I'm Mike - software engineer based in Orlando, FL currently doing cool things for DigitalOcean."
>
  <section class={`card flex-grow flex flex-row `}>
    <div class="flex flex-row items-center justify-between gap-9 p-6">
      <div>
        <h1
          class="-ml-1 inline-block bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 bg-clip-text font-display text-5xl font-semibold text-transparent"
        >
          Mike Constantino
        </h1>
        <h2 class="pt-4 text-2xl font-normal">
          software engineer coding for <a
            class="underline transition-all hover:text-blue-600 hover:dark:text-blue-400"
            href="https://github.com/mikebcbc"
            target="_blank">kicks</a
          > and <a
            class="underline transition-all hover:text-blue-600 hover:dark:text-blue-400"
            href="https://digitalocean.com"
            target="_blank">cash</a
          >
        </h2>
        <p class="text-md pt-4">
          I'm currently making waves at DigitalOcean 🌊, teaming up with the IAM
          crew to help make the cloud simple and accessible 🤙
        </p>
        <div class="mt-4 flex items-center justify-start">
          {
            socialMedia.map((sm) => (
              <a
                href={sm.url}
                target="_blank"
                class="active:bg-base-300 mr-3 rounded-full pr-2 text-gray-100/50 transition-all hover:scale-105 hover:text-gray-200/75 active:scale-95  xl:mr-4 xl:pr-3"
                title={sm.name}
              >
                <Icon
                  name={sm.icon}
                  class="h-6 w-full max-w-[1.25em] md:h-7 md:max-w-[1.5em]  xl:max-w-[1.75em]"
                />
              </a>
            ))
          }
        </div>
      </div>
      <div class="flex flex-shrink-0 flex-col justify-center">
        <Image
          alt="Picture of me"
          class="max-w-64 rounded-full"
          src={ImageOfMe}
        />
      </div>
    </div>
  </section>
  <div class="divider m-auto my-4 max-w-md">⦿</div>
  <section class="flex-none p-6">
    <div
      class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
    >
      <div>
        <h2 class="mb-8 font-display text-3xl font-bold">Recent Articles</h2>
        <div class="grid grid-rows-3 gap-10">
          {
            recentPosts.map((post) => (
              <article class="md:grid md:grid-cols-4 md:items-baseline">
                <div class="flex flex-col items-start md:col-span-3">
                  <h2 class="text-lg font-semibold">
                    <a href={`/blog/${post.slug}`}>
                      <span>{post.data.title}</span>
                    </a>
                  </h2>
                  <time
                    class="relative order-first mb-3 flex items-center pl-3.5 text-sm text-zinc-400 dark:text-zinc-500"
                    datetime={post.data.pubDate}
                  >
                    <span class="absolute inset-y-0 left-0 flex items-center">
                      <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500" />
                    </span>
                    {new Date(post.data.pubDate).toLocaleDateString("en-us", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })}
                  </time>
                  <p class="text-md relative mt-2">{post.data.description}</p>
                </div>
              </article>
            ))
          }
        </div>
        <a
          rel="prefetch"
          href="/blog"
          class="mt-8 block text-blue-600 hover:underline dark:text-blue-400"
          >See all articles →</a
        >
      </div>
      <Work />
    </div>
  </section>
</Layout>
